

*,
*::before,
*::after{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html{
    font-family: 'public sans', sans-serif;
}

body{
  background-color: #f1efde;
  color: black;
}
:root{
  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);
  --Grayish-Blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 13%, 27%);
  --White: hsl(0, 0%, 100%);
  }

.profilePic {
  width: 200px;
  height: 200px;
  border: solid 0.1px gainsboro;
  border-radius: 50%;
}
.center{
  margin-top: 10px;
  text-align: center;
  vertical-align: middle;
}
.name{
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.name:hover{
  color: blue;
}

.userabout{
  font-weight: bold;
  color:currentcolor;
}




.intro{
  margin-top: 5rem;
  font-size: 1.8rem;
  text-align: center;
  vertical-align: middle;
}
.slog{
  font-size: 1rem;
  color: darkgoldenrod;
}

/* social icons*/
.social-list{
  display:flex;
  list-style:none;
  justify-content:center;
  padding:0;
  margin-left: -2rem;
}

.social-list li{
  padding:10px;
  color:#c6c2c7;
  font-size:19px;
  
}

.fa{
  margin: 1rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  width: 70%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.fa-facebook{
  width: 80%;
}
.fa-facebook:hover{
 background-color: blue;
 color: white;
}
.fa-instagram:hover{
  background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
color: white;
}
.fa-linkedin:hover{
  background-color: blue;
  color: white;
}
.fa-github:hover{
  background-color: black;
  color: white;
}

/*  Project  */

.item{
  width: 100%;
  text-align: center;
  vertical-align: middle;
}
.poject-section{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 20rem;
}
.card-project{
  margin: 1rem;
 width: 40%;
 
}
.About{

 text-decoration: none;
}


/* Header*/

header{
  width: 100%;
  height: 7.5rem;
  padding: -0.5rem 0;
  color: black;
  position: relative;
  z-index: 999;
}
.logo{
  height: 2.3rem;
}
.check{
  display: none;

}
.humburgar{
  display: none;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 15vh;
}

.nav-ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-ul li{
list-style: none;
margin: 0 1.5rem;
}
li a{
  font-size: 1rem;
  text-decoration: none;
  color: black;
  padding-bottom: 2rem;
  position: relative;
}
li a:hover {
color: var(--Bright-Cyan);

}

nav ul li a::before{
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: .3rem;
  background: linear-gradient(to right, var(--Lime-Green),var(--Bright-Cyan));
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: all .5s;
  
}
nav ul li a:hover::before{
  opacity: 1;
  transform: scaleX(1);
}
.btn{
  width: 50%;
 
  border-radius: 0.5rem;
  background-color: black;
  color: white;
  font-weight: bold;
}
.btn:hover{
  background-color: var(--White);
  color: var(--Dark-Blue);
  font-weight: bold;
 
}

/* menue in mobile */
@media screen and (max-width:832px){
 
  .humburgar{
      display: inline-block;
      position: absolute;
      top: 0.8rem;
      right: 1rem;
      cursor: pointer;
  }
  .humburgar img {
      width: 2.5rem;
  }
  .nav-ul{
      flex-direction: column;
      width: 70%;
      margin: 0 auto;
      padding: 1rem 0;
      margin-top: 1rem;
  
      background-image: linear-gradient( 135deg, #90F7EC 10%, #32CCBC 100%);

      border-radius: 1.3rem;
      transform: translate(-200%);
      transition: all .1s;
      z-index: 99;
  }
  .nav-ul li {
      padding: 1rem 0;
      font: 11.6rem;
  }
  li a {
      color: var(--White) ;
      font-weight: 400;
  }

  li a:hover {
      color: black;
  }
  nav ul li a:hover::before{
      opacity: 0;
  }
  /*silid menue on click*/
#toggle:checked ~ .nav-ul {
  transform: translateY(0%);
}
#toggle:checked ~ .humburgar{
  background-color: white;
  border: 1px solid ;
  border-radius: .3rem;
  padding: .4rem;
}
}

.logo-sf{
  width: 5%;
  height: 3rem;
  border-radius: 2rem;
}
/*   mobile screen */
@media only screen and (max-width: 600px) {
  body {
    background-color: #F7F7F7;
  }
 
 .logo-sf{
  display: inline-block;
  position: absolute;
  top: 0.8rem;
  left: 1rem;
  width: 10%;
  cursor: pointer;
 }
.fa{
 
  color: black;
}
.fa-facebook:hover{
  background-color: white;
  color: blue;
}
.fa-instagram:hover{
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
   color: white;
}
.fa-linkedin:hover{
  background-color: rgb(21, 21, 161);
  color: white;
}
.item{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.card-project{
  width: 100%;
}
.poject-section{
  margin-right: 11rem;
}
.card-body{
  width: 200%;
}
.card-img-top{
  width: 150%;
  margin-left: 2rem;
}
.social-list li a i{
 margin: 1rem;
}

.form{
  margin-top: 1rem;
 padding: auto;
 width: auto;
 height: auto;
}
.form input{
  margin-top: 0.5rem;
  border-radius: 0.5rem;
}
.email-box{
  margin-top: 4rem;
}

#userabout {
  font-weight: normal;
}
#form-btn{
  
  margin: 1rem auto;
}


}






/* about */

.About{
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.About:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

/* form*/
form{
   width:50%;
  display: grid;
  margin:auto;
}

.form-btn{
margin:1rem  auto;
}
footer{
  position:relative;
  left: 0;
  bottom: 0;
  
  background-color: black;
  color: white;
  text-align: center
}





